html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

#main {
    min-height: 100%;
    position: relative;
}

header {
    height: 30vh;
    background-color: #607D8B;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

    @media (max-height: 819px) {
        header {
            height: 40vh;
        }
    }

    @media (max-height: 619px) {
        header {
            height: 50vh;
        }
    }

    @media (max-height: 479px) {
        header {
            height: 100vh;
        }
    }

    header > div {
        margin: auto;
        text-align: center;
        word-wrap: break-word;
    }

    header .profile-picture {
        margin: auto;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background: url(bueno.jpg) no-repeat;
    }

section {
    padding: 10px;
    padding-bottom: 50px;
}

    section > div {
        width: 85%;
        background: #CFD8DC;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        border-radius: 15px;
        padding: 5px 15px 5px 15px;
    }

    section .title {
        color: #616161;
    }

    section .content {
        color: #757575;
    }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #607D8B;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}