html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#main {
    min-height: 100%;
    position: relative;
}

header {
    height: 30vh;
    background-color: #607d8b;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
}

    @media (max-height: 819px) {
        header {
            height: 40vh;
        }
    }

    @media (max-height: 619px) {
        header {
            height: 50vh;
        }
    }

    @media (max-height: 479px) {
        header {
            height: 100vh;
        }
    }

    header > div {
        margin: auto;
        text-align: center;
    }

    header .profile-picture {
        margin: auto;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        background: url(bueno.jpg) no-repeat;
    }

section {
    padding: 10px;
    padding-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #607d8b;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}